{% embed 'layout/crud.new_edit.html.twig' with {
    'form':edit_form,
    'submit_name':'Save',
    'entity_route_prefix':'booking',
    'form_title': 'Edit "'~booking~'"'
}%}

    {% block contentHeaderTitle %}Booking{% endblock %}
    {% block contentHeaderTitleSmall %}Edit{% endblock %}

    {% block contentHeaderBreadcrumb %}Booking{% endblock %}
    {% block contentHeaderBreadcrumb2Lv %}Edit{% endblock %}
    {% block breadcrumbIcon 'calendar' %}
    {% block pageId 'booking' %}
{% endembed %}
