{% extends 'layout/crud.index.html.twig' %}

{% block contentHeaderTitle %}Bookings{% endblock %}
{% block contentHeaderTitleSmall %}List{% endblock %}

{% block contentHeaderBreadcrumb %}Booking{% endblock %}
{% block contentHeaderBreadcrumb2Lv %}List{% endblock %}
{% block breadcrumbIcon 'calendar' %}
{% block pageId 'booking' %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">List of Bookings</h3>
                <a class="btn btn-success pull-right" href="{{ path('booking_new') }}" >New Booking</a>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="main-table" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Property</th>
                        <th>Customer</th>
                        <th>Check-In</th>
                        <th>Check-Out</th>
                        <th>Rate Per night</th>
                        <th>Total Booking</th>
                        <th>Total Booking days</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for booking in bookings %}
                        <tr>
                            <td class="element-description">{{ booking.property }}</td>
                            <td>{{ booking.customer }}</td>
                            <td class="element-description">{{ booking.checkIn | date('Y-m-d') }}</td>
                            <td class="element-description">{{ booking.checkOut | date('Y-m-d') }}</td>
                            <td>{{ booking.ratePerNight }}</td>
                            <td>{{ booking.totalAmountBooking }}</td>
                            <td>{{ booking.totalBookingDays }}</td>
                            <td>
                                {% include 'widgets/action.buttons.widget.html.twig' with {'entity_route_prefix':'booking', 'entity': booking} %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
