{#
    <h1>Booking creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('booking_index') }}">Back to the list</a>
        </li>
    </ul>
#}


{% set entityName = 'Booking' %}
{% embed 'layout/crud.new_edit.html.twig' with {
    'form':form,
    'submit_name':'Book',
    'entity_route_prefix':'booking',
    'form_title': 'Add New '~entityName
}%}

    {% block contentHeaderTitle %}Booking{% endblock %}
    {% block contentHeaderTitleSmall %}New{% endblock %}

    {% block contentHeaderBreadcrumb %}Booking{% endblock %}
    {% block contentHeaderBreadcrumb2Lv %}Book{% endblock %}
    {% block breadcrumbIcon 'calendar' %}
    {% block pageId 'booking' %}
{% endembed %}