{% extends 'base.html.twig' %}

{% block body %}
    <h1>Booking</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ booking.id }}</td>
            </tr>
            <tr>
                <th>Checkin</th>
                <td>{% if booking.checkIn %}{{ booking.checkIn|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Checkout</th>
                <td>{% if booking.checkOut %}{{ booking.checkOut|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ratepernight</th>
                <td>{{ booking.ratePerNight }}</td>
            </tr>
            <tr>
                <th>Customerarriveddate</th>
                <td>{% if booking.customerArrivedDate %}{{ booking.customerArrivedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Customerdeparteddate</th>
                <td>{% if booking.customerDepartedDate %}{{ booking.customerDepartedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('booking_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('booking_edit', { 'id': booking.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
