<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            <!-- Bootstrap 3.3.5 -->
            <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}">
            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
            <!-- Ionicons -->
            <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
            <!-- Theme style -->
            <link rel="stylesheet" href="{{ asset('assets/vendor/dist/css/AdminLTE.min.css') }}">
            <!-- AdminLTE Skins. Choose a skin from the css/skins
                 folder instead of downloading all of them to reduce the load. -->
            <link rel="stylesheet" href="{{ asset('assets/vendor/dist/css/skins/_all-skins.min.css') }}">
            <!-- iCheck -->
            <link rel="stylesheet" href="{{ asset('assets/vendor/plugins/iCheck/flat/blue.css') }}">
            <!-- Morris chart -->
            <link rel="stylesheet" href="{{ asset('assets/vendor/plugins/morris/morris.css') }}">
            <!-- jvectormap -->
            <link rel="stylesheet" href="{{ asset('assets/vendor/plugins/jvectormap/jquery-jvectormap-1.2.2.css') }}">
            <!-- Date Picker -->
            <link rel="stylesheet" href="{{ asset('assets/vendor/plugins/datepicker/datepicker3.css') }}">
            <!-- Daterange picker -->
            <link rel="stylesheet" href="{{ asset('assets/vendor/plugins/daterangepicker/daterangepicker-bs3.css') }}">
            <!-- bootstrap wysihtml5 - text editor -->
            <link rel="stylesheet" href="{{ asset('assets/vendor/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
        {% endblock %}
        {% block customStyleSheets %} {% endblock %}
        {% block HeadJscripts %}  {% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="hold-transition skin-blue sidebar-mini" id="pi-{% block pageId '' %}">
        <div class="wrapper">
            <header class="main-header">
                {% block mainHeader %}
                    <!-- Logo -->
                    <a href="#" class="logo">
                        <!-- mini logo for sidebar mini 50x50 pixels -->
                        <span class="logo-mini"><b>A</b>LT</span>
                        <!-- logo for regular state and mobile devices -->
                        <span class="logo-lg"><b>Admin</b>LTE</span>
                    </a>
                    <nav class="navbar navbar-static-top" role="navigation">
                        <!-- Sidebar toggle button-->
                        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                            <span class="sr-only">Toggle navigation</span>
                        </a>
                        <div class="navbar-custom-menu">
                            <ul class="nav navbar-nav">


                                <!-- User Account: style can be found in dropdown.less -->
                                <li class="dropdown user user-menu">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <img src="{{ asset('assets/vendor/dist/img/user2-160x160.jpg') }}" class="user-image" alt="User Image">
                                        <span class="hidden-xs">Alexander Pierce</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- User image -->
                                        <li class="user-header">
                                            <img src="{{ asset('assets/vendor/dist/img/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
                                            <p>
                                                Alexander Pierce - Web Developer
                                                <small>Member since Nov. 2012</small>
                                            </p>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>

                {% endblock %}
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                {% block mainSideBar %}
                    <section class="sidebar">
                        <div class="user-panel">
                            <div class="pull-left image">
                                <img src="{{ asset('assets/vendor/dist/img/user2-160x160.jpg') }}" class="img-circle" alt="User Image">
                            </div>
                            <div class="pull-left info">
                                <p>Alexander Pierce</p>
                                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                            </div>
                        </div>
                        <ul class="sidebar-menu">
                            <li class="header">MAIN NAVIGATION</li>
                            <li>
                                <a href="{{ path('customer_index') }}" id="mn-customer">
                                    <i class="fa fa-users"></i>
                                    <span>Customers</span>
                                    <small class="label label-primary pull-right">{{ render(controller('AppBundle:Customer:getCustomers')) }}</small>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('property_index') }}" id="mn-property">
                                    <i class="fa fa-building"></i>
                                    <span>Properties</span>
                                    <small class="label label-primary pull-right">{{ render(controller('AppBundle:Property:getProperties')) }}</small>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('booking_index') }}" id="mn-booking">
                                    <i class="fa fa-calendar"></i>
                                    <span>Booking</span>
                                </a>
                            </li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-gears"></i>
                                    <span>System</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="{{ path('amenity_index') }}" id="mn-amenity"><i class="fa fa-circle-o"></i>Amenities</a></li>
                                    <li><a href="{{ path('contact-type_index') }}" id="mn-contact-type"><i class="fa fa-circle-o"></i>Contact Types</a></li>
                                    <li><a href="{{ path('property-type_index') }}" id="mn-property-type"><i class="fa fa-circle-o"></i>Property Types</a></li>
                                    <li><a href="{{ path('room_index') }}" id="mn-room"><i class="fa fa-circle-o"></i>Rooms</a></li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                {% endblock %}
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    {% block contentHeader %}
                        <h1>
                            {% block contentHeaderTitle %}{% endblock %}
                            <small>{% block contentHeaderTitleSmall %}{% endblock %}</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-{% block breadcrumbIcon '' %}"></i> {% block contentHeaderBreadcrumb %}{% endblock %}</a></li>
                            <li class="active">{% block contentHeaderBreadcrumb2Lv %}{% endblock %}</li>
                        </ol>
                    {% endblock %}
                </section>

                <!-- Main content -->
                <section class="content">
                    {% block content %}
                    {% endblock %}
                    {% block modals %}
                    {% endblock %}
                </section>

            </div>

        </div>
        {% block javascripts %}
            {% include 'buttom-js.html.twig' %}
        {% endblock %}

        {% block customPageJscripts %}{% endblock %}
    </body>
</html>
