{% extends 'base.html.twig' %}

{% block contentHeaderTitle %}Property{% endblock %}
{% block contentHeaderTitleSmall %}Edit{% endblock %}

{% block contentHeaderBreadcrumb %}Properties{% endblock %}
{% block contentHeaderBreadcrumb2Lv %}Edit{% endblock %}
{% block breadcrumbIcon 'building' %}
{% block pageId 'property' %}

{% block customStyleSheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-multiselect/dist/css/bootstrap-multiselect.css') }}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Edit Property "{{ property }}"</h3>
                    <a class="btn btn-success pull-right" href="{{ path('property_index') }}" >Back to Property List</a>
                </div><!-- /.box-header -->
            </div>
        </div>
    </div>
    <form role="form" method="post" name="amenity">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Property Info</h3>
                    </div>
                    <div class="box-body">
                        {{ form_row(form.name) }}
                        {{ form_row(form.description) }}
                        {{ form_row(form.maxPeople) }}
                        {{ form_row(form.checkIn) }}
                        {{ form_row(form.checkOut) }}
                        {{ form_row(form.parkingSpots) }}
                        {{ form_row(form.propertyType) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Property Address</h3>
                    </div>
                    <div class="box-body">
                        {{ form_row(form.address) }}
                        {{ form_row(form.propertyAddress) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Property Rooms</h3>
                    </div>
                    <div class="box-body">
                        {{ form_label(form.room) }}:
                        {{ form_widget(form.room) }}
                        {{ form_errors(form.room) }}

                        {{ render(controller('AppBundle:Property:getPropertyRooms', {'id' : property.id })) }}
                        {{ render(controller('AppBundle:Property:getPropertyMissingRooms', {'id':property.id})) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Property Amenities</h3>
                    </div>
                    <div class="box-body">
                        {{ form_label(form.amenity) }}:
                        {{ form_widget(form.amenity) }}
                        {{ form_errors(form.amenity) }}

                        {{ render(controller('AppBundle:Property:getPropertyAmenities', {'id' : property.id })) }}
                        {{ render(controller('AppBundle:Property:getPropertyMissingAmenities', {'id':property.id})) }}
                    </div>
                    {{ form_rest(form) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box-footer col-md-2 col-md-offset-5">
                <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block customPageJscripts %}
    <script src="{{ asset('assets/vendor/bootstrap-multiselect/dist/js/bootstrap-multiselect.js') }}"></script>
    <!-- Initialize the plugin: -->
    <script type="text/javascript">
        $(function() {
            $('#property_address').hide();

            $('#property_room').multiselect({
                maxHeight: 100,
                numberDisplayed: 10,
                onChange: function(option, checked, select) {
                    $("#msi-rooms-"+$(option).val()).toggle();
                }
            });

            $('#property_amenity').multiselect({
                maxHeight: 100,
                numberDisplayed: 10,
                onChange: function(option, checked, select) {
                    $("#msi-amenities-"+$(option).val()).toggle();
                }
            });
        });
    </script>
{% endblock %}
