{% extends 'layout/crud.index.html.twig' %}

{% block contentHeaderTitle %}Property{% endblock %}
{% block contentHeaderTitleSmall %}List{% endblock %}

{% block contentHeaderBreadcrumb %}Properties{% endblock %}
{% block breadcrumbIcon 'building' %}
{% block pageId 'property' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">List of Properties</h3>
                    <a class="btn btn-success pull-right" href="{{ path('property_new') }}" >New Property</a>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="main-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Property Type</th>
                            <th>Description</th>
                            <th>Max People</th>
                            <th>Check In</th>
                            <th>Check Out</th>
                            <th>Parking Spots</th>

                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for property in properties %}
                            <tr>
                                <td class="element-description">{{ property.name }}</td>
                                <td>{{ property.propertyType }}</td>
                                <td>{{ property.description }}</td>
                                <td>{{ property.maxPeople }}</td>
                                <td>{{ property.checkIn | date('H:i') }}</td>
                                <td>{{ property.checkOut| date('H:i') }}</td>
                                <td>{{ property.parkingSpots }}</td>
                                <td>
                                    {% embed 'widgets/action.buttons.widget.html.twig' with {'entity_route_prefix':'property', 'entity': property, 'show': true, 'delete': true} %}
                                        {% block rud_buttons %}
                                            {{ parent() }}
                                        {% endblock %}
                                        {% block custom_buttons %}
                                            <a class="btn btn-app" href="{{ path(entity_route_prefix~'_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"></i></a>
                                            <a class="btn btn-app delete-row" href="{{ path(entity_route_prefix~'_delete', { 'id': entity.id }) }}"><i class="fa fa-remove"></i></a>
                                        {% endblock %}
                                    {% endembed %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
