{% extends 'base.html.twig' %}

{% block contentHeaderTitle %}Property{% endblock %}
{% block contentHeaderTitleSmall %}New{% endblock %}

{% block contentHeaderBreadcrumb %}Property{% endblock %}
{% block contentHeaderBreadcrumb2Lv %}New{% endblock %}
{% block breadcrumbIcon 'building' %}
{% block pageId 'property' %}

{% block customStyleSheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-multiselect/dist/css/bootstrap-multiselect.css') }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Add New Property</h3>
                <a class="btn btn-success pull-right" href="{{ path('property_index') }}" >Back to Property List</a>
            </div><!-- /.box-header -->
        </div>
    </div>
</div>
<form role="form" method="post" name="amenity">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Property Info</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.maxPeople) }}
                    {{ form_row(form.checkIn) }}
                    {{ form_row(form.checkOut) }}
                    {{ form_row(form.parkingSpots) }}
                    {{ form_row(form.propertyType) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Property Address</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.address) }}
                    {{ form_row(form.propertyAddress) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Property Rooms</h3>
                </div>
                <div class="box-body">
                    {{ form_label(form.room) }}:
                    {{ form_widget(form.room) }}
                    {{ form_errors(form.room) }}

                    {{ render(controller('AppBundle:Property:getRooms')) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Property Amenities</h3>
                </div>
                <div class="box-body">
                    {{ form_label(form.amenity) }}:
                    {{ form_widget(form.amenity) }}
                    {{ form_errors(form.amenity) }}

                    {{ render(controller('AppBundle:Property:getAmenities')) }}
                </div>
                {{ form_rest(form) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box-footer col-md-2 col-md-offset-5">
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </div>
    </div>
</form>
{% endblock %}

{% block customPageJscripts %}
    <script src="{{ asset('assets/vendor/bootstrap-multiselect/dist/js/bootstrap-multiselect.js') }}"></script>
    <!-- Initialize the plugin: -->
    <script type="text/javascript">
        $(function() {
            $('#property_address').on('change', function(){
                var $val = $(this).val();
                var $addressForm = $('#property_propertyAddress');
                if ($val) {
                    $addressForm.find(':input').each(function(){
                        $(this).val('');
                        $(this).prop('disabled', true);
                    });
                } else {
                    $addressForm.find(':input').each(function(){
                        $(this).prop('disabled', false);
                    });
                }
            });

            $('#property_room').multiselect({
                maxHeight: 100,
                numberDisplayed: 10,
                onChange: function(option, checked, select) {
                    $("#msi-rooms-"+$(option).val()).toggle();
                }
            });

            $('#property_amenity').multiselect({
                maxHeight: 100,
                numberDisplayed: 10,
                onChange: function(option, checked, select) {
                    $("#msi-amenities-"+$(option).val()).toggle();
                }
            });
        });
    </script>
{% endblock %}
