{% extends 'base.html.twig' %}

{% block contentHeaderTitle %}Property{% endblock %}
{% block contentHeaderTitleSmall %}Information{% endblock %}

{% block contentHeaderBreadcrumb %}Properties{% endblock %}
{% block contentHeaderBreadcrumb2Lv %}Details{% endblock %}
{% block breadcrumbIcon 'build' %}
{% block pageId 'property' %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ property.name }}</h3>
                <a class="btn btn-success pull-right" href="{{ path('property_index') }}" >Back to Property List</a>
            </div><!-- /.box-header -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class=""></i>
                <h3 class="box-title">Property Info</h3>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{ property.name }}</dd>
                    <dt>Property Type</dt>
                    <dd>{{ property.propertyType }}</dd>
                    <dt>Property Description</dt>
                    <dd>{{ property.description }}</dd>
                    <dt>Max People</dt>
                    <dd>{{ property.maxPeople }}</dd>
                    <dt>Check-in Hour</dt>
                    <dd>{{ property.checkIn | date('H:i') }}</dd>
                    <dt>Check-out Hour</dt>
                    <dd>{{ property.checkOut| date('H:i') }}</dd>
                    <dt>Property Parking Spots</dt>
                    <dd>{{ property.parkingSpots }}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class=""></i>
                <h3 class="box-title">Property Address</h3>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    <dt>Address</dt>
                    <dd>{{ property.address.address }}</dd>
                    <dt>Zip Code</dt>
                    <dd>{{ property.address.zipCode }}</dd>
                    <dt>City</dt>
                    <dd>{{ property.address.city }}</dd>
                    <dt>State</dt>
                    <dd>{{ property.address.state }}</dd>
                    <dt>Country</dt>
                    <dd>{{ property.address.country }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class=""></i>
                <h3 class="box-title">Property Rooms & Quantity</h3>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    {% for room in property.propertyRooms %}
                        <dt>{{ room.room }}</dt>
                        <dd>{{ room.quantity }}</dd>
                    {% endfor %}
                </dl>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-solid">
            <div class="box-header with-border">
                <i class=""></i>
                <h3 class="box-title">Property Amenities & Quantity</h3>
            </div>
            <div class="box-body">
                <dl class="dl-horizontal">
                    {% for amenity in property.propertyAmenities %}
                        <dt>{{ amenity.amenity }}</dt>
                        <dd>{{ amenity.quantity }}</dd>
                    {% endfor %}
                </dl>
            </div>
        </div>
    </div>
</div>
{% endblock %}
