{% for entity in entities %}
    {% set description = attribute(entity, attDescription) %}
    <div class="form-group"  id="msi-{{ inputPrefix ~ "-" ~ entity.id }}">
        <label class="control-label">{{ description }}</label>
        <input class="form-control" type="{{ inputType }}" name="{{ formName ~ "["~inputPrefix~"]["}}{{entity.id}}{{ "]" }}" value="{{ attribute(entity, attValue) }}">
    </div>
{% endfor %}