{% embed 'layout/crud.new_edit.html.twig' with {
    'form':edit_form,
    'submit_name':'Save',
    'entity_route_prefix':'contact-type',
    'form_title': 'Edit "'~contactType.Type~'"'
}%}

    {% block contentHeaderTitle %}Contact Type{% endblock %}
    {% block contentHeaderTitleSmall %}Edit{% endblock %}

    {% block contentHeaderBreadcrumb %}System{% endblock %}
    {% block contentHeaderBreadcrumb2Lv %}Contact Types{% endblock %}
    {% block breadcrumbIcon 'gears' %}
    {% block pageId 'contact-type' %}
{% endembed %}
