{% set entityName = 'Contact Type' %}
{% embed 'layout/crud.new_edit.html.twig' with {
    'form':form,
    'submit_name':'Create',
    'entity_route_prefix':'contact-type',
    'form_title': 'Add New '~entityName
}%}

    {% block contentHeaderTitle %}Contact Type{% endblock %}
    {% block contentHeaderTitleSmall %}New{% endblock %}

    {% block contentHeaderBreadcrumb %}System{% endblock %}
    {% block contentHeaderBreadcrumb2Lv %}Contact Types{% endblock %}
    {% block breadcrumbIcon 'gears' %}
    {% block pageId 'contact-type' %}
{% endembed %}
