{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ form_title }}</h3>
                    <a class="btn btn-success pull-right" href="{{ path(entity_route_prefix~'_index') }}">Back to List</a>
                </div>
                {% block form %}
                    <form role="form" method="post" name="amenity">
                        <div class="box-body">
                            {{ form_widget(form) }}
                        </div>
                        <div class="box-footer">
                            <button class="btn btn-primary" type="submit">{{ submit_name }}</button>
                        </div>
                    </form>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}