{% extends 'base.html.twig' %}
{% block HeadJscripts %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}

{% block customStyleSheets %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('assets/vendor/plugins/datatables/dataTables.bootstrap.css') }}">
    <style>
        .btn-app{
            padding: 5px;
            height: 30px;
            min-width: 30px;
        }
        .fa.fa-edit,.fa.fa-eye,.fa.fa-remove{
            width: 25px;
        }
        td div.box-body {
            max-width: 300px;
        }
    </style>
{% endblock %}

{% block modals %}
    <div class="modal fade" tabindex="-1" role="dialog" id="delete-modal" aria-labelledby="deleteModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Delete?</h4>
                </div>
                <div class="modal-body">
                    <p></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="delete-action">Delete</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
{% endblock %}

{% block customPageJscripts %}
    <!-- DataTables -->
    <script src="{{ asset('assets/vendor/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $('#main-table').DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false
            });


            $('.delete-row').on('click', function(event) {
                //stop normal behavior
                event.preventDefault();

                var $tr = $(this).closest('tr');
                var $url = $(this).attr('href');
                //var $id = "";
                var $description = "";



                $tr.find('td').each(function () {
                    if ($(this).hasClass('element-description')) {
                        $description += $(this).text() + " ";
                    }
                });

                var $modal = $('#delete-modal');
                $modal.find('.modal-body p').text($description);
                //$modal.find('.modal-body .error').empty();
                $modal.modal('show');

                $modal.find('#delete-action').on('click', function () {
                    $.post($url)
                            .done(function () {
                                $tr.remove();
                                $modal.modal('hide');
                                //delete event association to avoid multiples calls
                                $('#delete-action').off('click');

                            })
                            .fail(function (xhr) {
                                //$modal.find('.error').text(xhr.responseText);
                                $modal.find('.error').text('An error occur');
                                $('#delete-action').off('click');
                            });
                }); //$$modal.find('#delete-action')

            });
        });
    </script>
{% endblock %}