{% embed 'layout/crud.new_edit.html.twig' with {
    'form':edit_form,
    'submit_name':'Save',
    'entity_route_prefix':'room',
    'form_title': 'Edit "'~room.description~'"'
}%}

    {% block contentHeaderTitle %}Room{% endblock %}
    {% block contentHeaderTitleSmall %}Edit{% endblock %}

    {% block contentHeaderBreadcrumb %}System{% endblock %}
    {% block contentHeaderBreadcrumb2Lv %}Rooms{% endblock %}
    {% block breadcrumbIcon 'gears' %}
    {% block pageId 'room' %}
{% endembed %}
