{% extends 'layout/crud.index.html.twig' %}

{% block contentHeaderTitle %}Room{% endblock %}
{% block contentHeaderTitleSmall %}List{% endblock %}

{% block contentHeaderBreadcrumb %}System{% endblock %}
{% block contentHeaderBreadcrumb2Lv %}Rooms{% endblock %}
{% block breadcrumbIcon 'gears' %}
{% block pageId 'room' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">List of Rooms</h3>
                    <a class="btn btn-success pull-right" href="{{ path('room_new') }}" >New Room</a>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="main-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for room in rooms %}
                            <tr>
                                <td class="element-description">{{ room.description }}</td>
                                <td>
                                    {% include 'widgets/action.buttons.widget.html.twig' with {'entity_route_prefix':'room', 'entity': room} %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
