{% set entityName = 'Room' %}
{% embed 'layout/crud.new_edit.html.twig' with {
    'form':form,
    'submit_name':'Create',
    'entity_route_prefix':'room',
    'form_title': 'Add New '~entityName
}%}

    {% block contentHeaderTitle %}Room{% endblock %}
    {% block contentHeaderTitleSmall %}New{% endblock %}

    {% block contentHeaderBreadcrumb %}System{% endblock %}
    {% block contentHeaderBreadcrumb2Lv %}Rooms{% endblock %}
    {% block breadcrumbIcon 'gears' %}
    {% block pageId 'room' %}
{% endembed %}
