{% embed 'layout/crud.new_edit.html.twig' with {
    'form':edit_form,
    'submit_name':'Save',
    'entity_route_prefix':'amenity',
    'form_title': 'Edit "'~amenity.description~'"'
}%}

    {% block contentHeaderTitle %}Amenity{% endblock %}
    {% block contentHeaderTitleSmall %}Edit{% endblock %}

    {% block contentHeaderBreadcrumb %}System{% endblock %}
    {% block contentHeaderBreadcrumb2Lv %}Amenity{% endblock %}
    {% block breadcrumbIcon 'gears' %}
    {% block pageId 'amenity' %}
{% endembed %}
