{% extends 'layout/crud.index.html.twig' %}

{% block contentHeaderTitle %}Amenity{% endblock %}
{% block contentHeaderTitleSmall %}List{% endblock %}

{% block contentHeaderBreadcrumb %}System{% endblock %}
{% block contentHeaderBreadcrumb2Lv %}Amenity{% endblock %}
{% block breadcrumbIcon 'gears' %}
{% block pageId 'amenity' %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">List of Amenities</h3>
                <a class="btn btn-success pull-right" href="{{ path('amenity_new') }}" >New Amenity</a>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table id="main-table" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for amenity in amenities %}
                            <tr>
                                <td class="element-description">{{ amenity.description }}</td>
                                <td>
                                    {% include 'widgets/action.buttons.widget.html.twig' with {'entity_route_prefix':'amenity', 'entity':amenity} %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

