{% set entityName = 'Amenity' %}
{% embed 'layout/crud.new_edit.html.twig' with {
    'form':form,
    'submit_name':'Create',
    'entity_route_prefix':'amenity',
    'form_title': 'Add New '~entityName
}%}

    {% block contentHeaderTitle %}Amenity{% endblock %}
    {% block contentHeaderTitleSmall %}New{% endblock %}

    {% block contentHeaderBreadcrumb %}System{% endblock %}
    {% block contentHeaderBreadcrumb2Lv %}Amenity{% endblock %}
    {% block breadcrumbIcon 'gears' %}
    {% block pageId 'amenity' %}
{% endembed %}
