{% embed 'layout/crud.new_edit.html.twig' with {
    'form':edit_form,
    'submit_name':'Save',
    'entity_route_prefix':'property-type',
    'form_title': 'Edit "'~propertyType.type~'"'
}%}

    {% block contentHeaderTitle %}Property Type{% endblock %}
    {% block contentHeaderTitleSmall %}Edit{% endblock %}

    {% block contentHeaderBreadcrumb %}System{% endblock %}
    {% block contentHeaderBreadcrumb2Lv %}Property Types{% endblock %}
    {% block breadcrumbIcon 'gears' %}
    {% block pageId 'property-type' %}
{% endembed %}
