{% extends 'layout/crud.index.html.twig' %}

{% block contentHeaderTitle %}Property Type{% endblock %}
{% block contentHeaderTitleSmall %}List{% endblock %}

{% block contentHeaderBreadcrumb %}System{% endblock %}
{% block contentHeaderBreadcrumb2Lv %}Property Types{% endblock %}
{% block breadcrumbIcon 'gears' %}
{% block pageId 'property-type' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">List of Property Types</h3>
                    <a class="btn btn-success pull-right" href="{{ path('property-type_new') }}" >New Property Type</a>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="main-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for propertyType in propertyTypes %}
                            <tr>
                                <td class="element-description">{{ propertyType.type }}</td>
                                <td>
                                    {% include 'widgets/action.buttons.widget.html.twig' with {'entity_route_prefix':'property-type', 'entity': propertyType} %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
