{% set entityName = 'Property Type' %}
{% embed 'layout/crud.new_edit.html.twig' with {
    'form':form,
    'submit_name':'Create',
    'entity_route_prefix':'property-type',
    'form_title': 'Add New '~entityName
}%}

    {% block contentHeaderTitle %}Property Type{% endblock %}
    {% block contentHeaderTitleSmall %}New{% endblock %}

    {% block contentHeaderBreadcrumb %}System{% endblock %}
    {% block contentHeaderBreadcrumb2Lv %}Property Types{% endblock %}
    {% block breadcrumbIcon 'gears' %}
    {% block pageId 'property-type' %}
{% endembed %}

