{% extends 'layout/crud.index.html.twig' %}

{% block contentHeaderTitle %}Customers{% endblock %}
{% block contentHeaderTitleSmall %}List{% endblock %}

{% block contentHeaderBreadcrumb %}Customers{% endblock %}
{% block breadcrumbIcon 'users' %}
{% block pageId 'customer' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">List of Customers</h3>
                    <a class="btn btn-success pull-right" href="{{ path('customer_new') }}" >New Customer</a>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="main-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Address</th>
                            <th>Contacts</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for customer in customers %}
                            <tr>
                                <td class="element-description">{{ customer.firstName }}</td>
                                <td class="element-description">{{ customer.lastName }}</td>
                                <td>{{ customer.address }}</td>
                                <td>
                                    <div class="box-body">
                                        <dl class="dl-horizontal">
                                            {% for contact in customer.customerContacts %}
                                                <dt>{{ contact.contactType }}</dt>
                                                <dd>{{ contact.contact }}</dd>
                                            {% endfor %}
                                        </dl>
                                    </div>
                                </td>
                                <td>
                                    {% include 'widgets/action.buttons.widget.html.twig' with {'entity_route_prefix':'customer', 'entity': customer} %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
