{% extends 'base.html.twig' %}

{% block contentHeaderTitle %}Customer{% endblock %}
{% block contentHeaderTitleSmall %}New{% endblock %}

{% block contentHeaderBreadcrumb %}Customers{% endblock %}
{% block contentHeaderBreadcrumb2Lv %}New{% endblock %}
{% block breadcrumbIcon 'users' %}
{% block pageId 'customer' %}

{% block customStyleSheets %}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap-multiselect/dist/css/bootstrap-multiselect.css') }}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Add New Customer</h3>
                <a class="btn btn-success pull-right" href="{{ path('customer_index') }}" >Back to Customer List</a>
            </div><!-- /.box-header -->
        </div>
    </div>
</div>
<form role="form" method="post" name="customer">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Customer Info</h3>
                </div>
                <div class="box-body">
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.address) }}
                    {{ form_row(form.customerAddress) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Customer Contacts</h3>
                </div>
                <div class="box-body">
                    {{ form_label(form.contact) }}:
                    {{ form_widget(form.contact) }}
                    {{ form_errors(form.contact) }}

                    {{ render(controller('AppBundle:Customer:getContacts')) }}
                </div>
                {{ form_rest(form) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box-footer col-md-2 col-md-offset-5">
            <button class="btn btn-primary btn-block" type="submit">Submit</button>
        </div>
    </div>
</form>
{% endblock %}

{% block customPageJscripts %}
    <script src="{{ asset('assets/vendor/bootstrap-multiselect/dist/js/bootstrap-multiselect.js') }}"></script>
    <!-- Initialize the plugin: -->
    <script type="text/javascript">
        $(function() {
            $('#customer_address').on('change', function(){
                var $val = $(this).val();
                var $addressForm = $('#customer_customerAddress');
                if ($val) {
                    $addressForm.find(':input').each(function(){
                        $(this).val('');
                        $(this).prop('disabled', true);
                    });
                } else {
                    $addressForm.find(':input').each(function(){
                        $(this).prop('disabled', false);
                    });
                }
            });

            $('#customer_contact').multiselect({
                maxHeight: 100,
                numberDisplayed: 10,
                onChange: function(option, checked, select) {
                    $("#msi-contacts-"+$(option).val()).toggle();
                }
            });
        });
    </script>
{% endblock %}